{% extends 'base.html' %}

{% block main %}

<section>
<main class="px-3">
<div class="accordion px-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header bg-info">
      <button class="accordion-button bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4> About me </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">  
      <div class="accordion-body">
        <p>
          I am a Senior DevOps Engineer with around 6.8 years of experience in developing, deploying and managing large-scale cloud infrastructure and on-prem. I have expertise in automation and orchestration tools such as Kubernetes, Docker, Terraform, Ansible & Jenkins to manage microservices-based applications. 
          I have worked on supporting web SaaS solutions based on Linux/Unix platform in a cloud and on-premise, taking the form part in automating, supporting and to ensure CI/CD in product developing. 
          Providing Infrastructure support & Integrating multiple tools with Continuous Integration Tool like Ansible & Jenkins respectively. Hands-on knowledge on DevOps, Python, Linux, Terraform, Ansible & AWS(EC2, EBS, Route S3, S3 Buckets, VPC & IAM).
        </br>
        </br>
          I would like to continue working in DevOps method and enhance my skills to contribute to the technology advancements. 
        </br>
        </br>
          In my free time, I like to ride motorcycles and play football.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="accordion px-5 " id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4> What I'm doing </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">  
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">DevOps and SRE</h5>
                  <hr>
                  <p class="card-text">I enjoy learning software development, managing cloud infrastructure and deployment as DevOps and SRE</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cloud Computing</h5>
                  <hr>
                  <p class="card-text">I build many things using cloud computing including IoT, applications and websites</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Computer Networking</h5>
                  <hr>
                  <p class="card-text">I love to make everything connected to communicate with each other, such as computing devices and now the IoT</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
</section>
{% endblock %}