{% extends 'base.html' %}

{% block main %}

<section>
    <main class="px-3">
        <br>  
        <p style="font-size:90px;">Raj Dhumal</p>
        <p style="font-size:30px;">Senior DevOps Engineer</p>
        <br>
        <p class="lead">
            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Hire me
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-header">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">+8108130164</button> </br>
                    <button type="button" class="btn btn-primary"> rajd810@outlook.com</button>
                    </div>
                </div>
                </div>
            </div>
            
            <a href="https://drive.google.com/file/d/1TTvKJObp0L_BJ_uFUkEwKeGaV_eMVNN7/view?usp=drive_link" class="btn btn-lg btn-primary">Download CV</a>
            <div class="collapse btn btn-outline-light" id="collapseExample">
                <p >+91-8108130164 <br> rajd810@outlook.com</p>
            </div>
        </p>



    </main>
</section>

{% endblock %}