{% extends 'base.html' %}

{% block main %}

<header>
  <div class="container-fluid bg">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>Raj Dhumal</h1>
          <p class="sub"> Senior DevOps Engineer</p>
          <hr>

          <a href="https://twitter.com/" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="https://github.com/rajd810" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/raj-dhumal-26004a86/" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://www.freecodecamp.org/" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-free-code-camp fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- ABOUT SECTION -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <h2 id="about">About me</h2>
        <br>
        <p>
          &lt;Hello World!&gt; I am RAJ, working as Senior DevOps Engineer with around 6.8 years of experience in developing, deploying and managing large-scale cloud infrastructure and on-prem. I have expertise in automation and orchestration tools such as Kubernetes, Docker, Terraform, Ansible & Jenkins to manage microservices-based applications. 
          I have worked on supporting web SaaS solutions based on Linux/Unix platform in a cloud and on-premise, taking the form part in automating, supporting and to ensure CI/CD in product developing. 
          Providing Infrastructure support & Integrating multiple tools with Continuous Integration Tool like Ansible & Jenkins respectively. Hands-on knowledge on DevOps, Python, Linux, Terraform, Ansible & AWS(EC2, EBS, Route S3, S3 Buckets, VPC & IAM).
        </p>
        <p>
          I would like to continue working in DevOps method and enhance my skills to contribute to the technology advancements. 
          In my free time, I like to ride motorcycles and play foo
        </p>
      </div>
    </div>



      <!-- EXPERIENCE SECTION -->
      <div>
        <h2 id="experience">Experience</h2>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="thumbnail">
              <p class="description">Axis Bank Ltd </p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="thumbnail">
              <p class="description">Capegemini India Pvt Ltd </p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="thumbnail">
              <p class="description">Tata Consultancy Services </p>
            </div>
          </div>  
        </div>
      </div>
  </div>  

{% endblock %}