{% extends 'base.html' %}

{% block main %}
<section>
    <main class="px-3">
        <p class="text-start"> Python ( Flask & Django )</p>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 80%">80%</div>
          </div>
        <br>
        <p class="text-start"> DevOps </p>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 80%">80%</div>
        </div>
        <br>
        <p class="text-start"> AWS Services </p>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%">25%</div>
        </div>
        <br>
        <p class="text-start"> Network services </p>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%">25%</div>
        </div>
    </main>
</section>

{% endblock %}